.nav1{
    border: 2px solid rgb(24, 206, 206);
    padding: 5px;
    font-weight: bold;
    text-decoration: none;
    font-size: large;
    float: right;
    color: white;
    margin-left: 10px;
    
}
.head{
    text-align: center;
}
.nav{
    padding: 30px;
    background-color: rgb(23, 26, 10);
    overflow: hidden;
}
.i1{
    align-items: center;
}
.main{
    background-color:aliceblue;
    padding-bottom: 500px;
    padding-top: 3px;
}
.div12{
    display: flex;
    justify-content: center;
}
/* .div{
    background-color: aqua;
} */
